form {
  border-radius: 5px;
  background-color: var(--background);
}

textarea {
  font-family: var(--content-font);
  background-color: var(--textarea-bg);
  color: var(--text-color);
  padding: 10px;
  resize: none;
  font-size: 18px !important;
  color: var(--text-color);
}

input {
  background-color: transparent !important;
}

a {
  font-weight: 500;
  color: var(--main-color);
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

html {
  height: 100%;
  width: 100%;
  scrollbar-color: transparent auto;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  width: 100%;
  background-color: var(--background);
  min-height: 100vh;
  overflow-y: scroll;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  text-align: center;
  height: 100%;
  width: 100%;
}

button {
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--main-color);
}

.logo-container img {
  height: 35px;
  display: block;
  margin: auto;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --content-width: 1200px;

  --scroll-type: "hidden";

  /* PARSLEY REBRAND */
  --main-color: #03c04a;
  --content-font: sans-serif;

  --background: rgb(250, 250, 250);
  --textarea-bg: rgb(99, 99, 99);
  --text-color: black;
  --navbar-color: rgb(255, 255, 255);
  --recipe-widget-bg: white;
  --button-bg: #46464680;
  --login-bg: rgb(209, 209, 209);
  --contrast-border: black;
  --form-bg: rgb(218, 218, 218);
  --login-contrast-border: rgb(107, 107, 107);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: rgb(250, 250, 250);
    --textarea-bg: rgb(189, 189, 189);
    --text-color: black;
    --navbar-color: rgb(255, 255, 255);
    --recipe-widget-bg: white;
    --button-bg: #e7e7e780;
    --login-bg: rgb(255, 255, 255);
    --contrast-border: rgb(218, 218, 218);
    --form-bg: rgb(218, 218, 218);
    --login-contrast-border: rgb(129, 129, 129);
    --mobile-nav-bg: rgba(250, 250, 250, 0.8);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(37, 37, 37);
    --textarea-bg: rgb(99, 99, 99);
    --text-color: white;
    --navbar-color: rgb(37, 37, 37);
    --recipe-widget-bg: white;
    --button-bg: #46464680;
    --login-bg: rgb(27, 27, 27);
    --contrast-border: #3a3a3a;
    --form-bg: rgb(44, 44, 44);
    --login-contrast-border: rgb(129, 129, 129);
    --mobile-nav-bg: rgba(37, 37, 37, 0.8);
  }
}
